/* Estilo global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1 {
    margin: 0;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;  /* Espaciado entre las imágenes */
}

.imagen {
    flex: 1 1 300px;  /* Las imágenes ocupan un ancho mínimo de 300px */
    max-width: 100%;
    overflow: hidden;  /* Evita que las imágenes se desborden */
}

.imagen-item {
    width: 100%; /* Se ajusta al ancho del contenedor */
    height: auto;  /* Mantiene la proporción */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efecto de transición */
}

/* Efecto hover para el zoom */
.imagen-item:hover {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  /* Sombra más pronunciada */
}

/* Estilo para las imágenes al ser clickeadas (cuando las vemos en detalle) */
.imagen-detalle {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.imagen-detalle img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain; /* Mantiene la imagen dentro de los límites sin deformarla */
}

.imagen-detalle.show {
    display: flex; /* Muestra la imagen en detalle */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
}
